body{background-color: #eee;}
header,section,footer{width: 100%; margin: 0 auto;}
header{background-color: #6332c9; height:0.95rem; display: flex; justify-content:center; flex-direction: row; position: fixed; top: 0; z-index: 2;}
header #title{height: 0.95rem; line-height: 0.95rem; text-align: center; color: #FFFFFF; font-size: 0.36rem; }
header #search{height: 0.95rem; line-height: 0.95rem;}
header .fa-search{ height: 0.35rem; width:0.35rem; position: absolute; left: 0.3rem; top: 0.3rem;}


section{ position: relative; padding-bottom: 0.95rem;display: flex; justify-content: center; padding-top: 1.3rem; flex-direction: column; z-index: 1;}
section #leader{width: 100%; margin-bottom: 0.2rem; padding: 0 0.5rem 0 0.3rem;}
section #leader li{ width: 100%; display: flex; flex-wrap: nowrap; height: 0.8rem; align-items: center; padding-left: 0.1rem;}
section #leader #arrow{ width: 0.5rem; height: 0.5rem; margin-right: 0.2rem; display: inline-block;}
section #leader #group{ width: 0.5rem; height: 0.5rem; border-radius: 50%; border:0.03rem solid #6332C9; line-height: 0.5rem; text-align: center; font-size: 0.3rem; margin-right: 0.4rem;}
section #leader #headman{ width:5rem; display: flex; flex-wrap: nowrap; height: 0.8rem; border: 0.03rem solid #6332C9; border-radius: 0.2rem; display: flex; align-items: center; padding: 0 0.2rem; position: relative;}
section #leader #img1{ width: 0.6rem; height: 0.6rem; margin-right: 0.2rem;}
section #leader #name{ color: #000000; font-size: 0.36rem;}
/*section #leader #status{ color: #22AC38; font-size: 0.3rem; position: absolute; right: 0.2rem; height: 0.8rem; line-height:0.8rem; text-align: center;}*/

section #member{width: 100%; margin-bottom: 0.2rem; padding: 0 0.5rem 0 1.5rem; display: flex; justify-content: center; flex-wrap: wrap;}
section #member li{ width: 100%; display: flex; flex-wrap: nowrap; height: 1rem; align-items: center; border-bottom: 0.03rem solid #c9c9c9; position: relative; padding: 0 0.2rem;}
section #member img{ width: 0.6rem; height: 0.6rem; margin-right: 0.2rem;}
section #member .er{ color: #000000; font-size: 0.3rem; height: 1rem; line-height:1rem; text-align: center;}
/*section #member #status1{ color: #fed100; font-size: 0.3rem; position: absolute; right: 0.2rem; height: 1rem; line-height:1rem; text-align: center;}
section #member #status2{ color: #22AC38; font-size: 0.3rem; position: absolute; right: 0.2rem; height: 1rem; line-height:1rem; text-align: center;}
section #member #status3{ color: #ff0000; font-size: 0.3rem; position: absolute; right: 0.2rem; height: 1rem; line-height:1rem; text-align: center;}*/

footer{background-color: #FFFFFF; height:0.95rem; position:fixed; bottom: 0; left: 0; border-top: 0.02rem #bfbfbf solid; display: flex; /*padding: 0.07rem 0;*/}
footer ul{width:100%; display: flex; justify-content: space-around; height: 100%;}
footer ul li{ width: 20%; height: 0.95rem;display:flex;justify-content: center; align-content: center; flex-direction: column; text-align: center;}
footer ul #qiandao{padding-top: 0.08rem;}
footer ul li img{height: 0.45rem; width: 0.45rem; align-self: center; margin-bottom: 0.1rem;}
footer ul li p{ height: 0.25rem; text-align: center; line-height: 0.25rem; color: #666; font-size: 0.25rem;}
footer ul li #pic{height: 0.85rem; width: 0.85rem; vertical-align:middle;}
footer ul #inf{color: #6332C9;}
