<!DOCTYPE html>
<html data-dpr = "2" style="font-size: 100px; width: 100%; height: 100%;">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<link rel="stylesheet" href="css/common.css" type="text/css" />
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
		<link rel="stylesheet" href="css/leader.css" type="text/css" />
		<script src="js/vue.js"></script>
	</head>
	<body id="body">
		<div id="bg">
			<form action="saveHandler" method="get">
                <div id="name">
				   <label for="btn">组员姓名：</label>
				   <input type="text" name="userName" id="btn" v-on:blur="onBlur"/>
				   <div id="hint">姓名不能为空！</div>
				</div>
				<div id="tel">
					<label for="btn1">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话： </label>
				    <input type="text"  name="usePhone" id="btn1" v-on:blur="onBlur1"/>
				    <div id="hint-1">请填入正确的手机号！</div>
				</div>
				<div id="end">
					<input type="button" value="完成" id="finsh" v-on:click="finish"/>
				</div>
				<img src="img/back.png"  id="back" v-on:click="miss"/>
			</form>
		</div>
		
		<div id="bg1">
			<form action="saveHandler" method="get">
                <div id="name">
				   <label for="btn">组&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label>
				   <input type="text" name="userName" id="btn" <!--v-on:blur="onBlur"-->/>
				   <!--<div id="hint">姓名不能为空！</div>-->
				</div>
				<div id="tel">
					<label for="btn1">组 描 述： </label>
				    <input type="text"  name="usePhone" id="btn1"<!-- v-on:blur="onBlur1"-->/>
				   <!-- <div id="hint-1">请填入正确的手机号！</div>-->
				</div>
				<div id="end">
					<input type="button" value="完成" id="finsh1" v-on:click="finish"/>
				</div>
				<img src="img/back.png"  id="backzumiaoshu"/>
			</form>
		</div>
		
		<header>
			<div id="title">我管理的组</div>
			<div id="search">
				<img src="img/secrch.png" class="fa-search"/>
			</div>
		</header>
		<section>
			<div id="vue-app">
				<ul class="admintor" >
					<!--<li class="leader">
							<img src="img/more-2.png" class="arrow" />
							<div class="group">1</div>
							<div class="headman" >
								<img src="img/head.png" class="headPic"/>
								<p class="name">布布</p>
							</div>
					</li>
					<li class="member">
						<img src="img/head.png" class="headPic"/>
						<p class="name">布布</p>
						<input type="checkbox" name="userName" class="check" v-if="erle"/>
					</li>
					<li class="member">
						<img src="img/head.png" class="headPic"/>
						<p class="name">布布</p>
						<input type="checkbox" name="userName" class="check" v-if="erle"/>
					</li>
					<li class="member">
						<img src="img/head.png" class="headPic"/>
						<p class="name">布布</p>
						<input type="checkbox" name="userName" class="check" v-if="erle"/>
					</li>-->
				</ul>
			</div>
			
			
		</section>
		<footer>
			<ul id="ul">
				<li>
					<img src="img/xiaoxi.png" />
					<p>消息</p>
				</li>
				<li>
					<img src="img/zixun.png"/>
					<p>咨询</p>
				</li>
				<li id="qiandao">
					<img src="img/qiandao1.png" id="pic"/>
				</li>
				<li>
					<img src="img/link.png" />
					<p id="inf">通讯录</p>
				</li>
				<li id="wode">
					<img src="img/wode.png" />
					<p>我的</p>
				</li>
			</ul>
		</footer>
		<div id="circle">
			<input type="button" id="plus" value="+" />
			<input type="button" id="add" value="添加"/>
			<input type="button" id="describe" value="修改" />
			<input type="button" id="delete" value="删除"/>
			<input type="button" id="finish2" value="完成"/>
		</div>
		<script src="js/jquery.min.js"></script>
		<script src="js/leader.js"></script>
	</body>
</html>
