<!DOCTYPE html>
<html data-dpr = "2" style="font-size: 100px; width: 100%; height: 100%;">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<link rel="stylesheet" href="css/common.css" type="text/css" />
		<link rel="stylesheet" href="css/member.css"type="text/css" />
		<script src="js/vue.js"></script>
	</head>
	<body>
		<header>
			<div id="title">我加入的组</div>
			<div id="search">
				<img src="img/secrch.png" class="fa-search"/>
			</div>
		</header>
		<section>
			<div id="vue-app">
				<ul id="leader">
					<li>
						<img src="img/more-2.png" v-on:click="changeStatic" id="arrow"/>
						<div id="group">1</div>
						<div id="headman" >
							<img src="img/head.png" id="img1"/>
							<p id="name">布布</p>
							<!--<p id="status">已签到</p>-->
						</div>
					</li>
				</ul>
				<ul v-if="seen" id="member" >
					<!--<li>
						<img src="img/head1.png" />
						<p id="name">布布</p>-->
						<!--<p id="status1">已签到</p>-->
					<!--</li>
					<li>
						<img src="img/head1.png" />
						<p id="name">布布</p>-->
						<!--<p id="status2">已签到</p>-->
					<!--</li>
					<li>
						<img src="img/head1.png" />
						<p id="name">布布</p>-->
						<!--<p id="status3">未签到</p>-->
					<!--</li>-->
				</ul>
			</div>
			
			
		</section>
		<footer>
			<ul id="ul">
				<li>
					<img src="img/xiaoxi.png" />
					<p>消息</p>
				</li>
				<li>
					<img src="img/zixun.png"/>
					<p>咨询</p>
				</li>
				<li id="qiandao">
					<img src="img/qiandao1.png" id="pic"/>
				</li>
				<li>
					<img src="img/link.png" />
					<p id="inf">通讯录</p>
				</li>
				<li id="wode">
					<img src="img/wode.png" />
					<p>我的</p>
				</li>
			</ul>
		</footer>
		<script src="js/jquery.min.js"></script>
		<script src="js/member.js"></script>
	</body>
</html>
