<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>签到</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <link rel="stylesheet" href="css/calendar.css">
  <script src="js/vue.js"></script>
</head>
<body id="vue-qian">
	    <header>
	    	<span style="color: #FFFFFF; font-size: 0.4rem; margin-left: 45%;">签到</span>
	    	<input type="button" value="足迹" id="btn-zuji" />
	    </header>
      <div id="section">
  	     <div id="calendar" class="calendar"></div>
      </div>
      <div id="cricle">
        <p id="state">签到</p>
        <p id="time">15：07</p>
      </div>
      <footer>
      	<ul>
      		<li id="xiaoxi">
      			<img src="img/xiaoxi.png" />
      		  <span>消息</span>
      		</li>
      		<li id="zixun">
      			<img src="img/zixun.png" />
      		  <span>咨询</span>
      		</li>
      		<li id="qiandao" style="width: 0.85rem; height: 0.85rem;">
      			<img src="img/qiandao.png " id="src"/>
      		</li>
      		<li  id="lianxi">
      			<img src="img/tongxunlu.png" />
      		  <span>通讯录</span>
      		</li>
      		<li id="wode">
      			<img src="img/wode.png" />
      		  <span>我的</span>
      		</li>
      	</ul>
      </footer>

  <script src="js/qiandao.js"></script>
  <script src="js/jquery.min.js"></script>
  <script src="js/calendar.js"></script>
  
</body>
</html>