<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="names"></div>
	</body>
	<script type="text/javascript" src="js/jquery.min.js" ></script>
	<script>
		$.ajax({
			type:"get",
			url:"member.json",
			dataType:"json",
			success:function(data){
				console.log(data.list[0].userImage);
				$("div").append("<img id='imgsr'/>")
				$("div").append("<p id='name'>+</p>");
				$("#imgsr").attr("src",data.list[0].userImage);
				$("#name").html(data.list[0].userName);
			}
		});
	</script>
</html>
