<!DOCTYPE html>
<html data-dpr = "2" style="font-size: 100px; width: 100%; height: 100%;">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title></title>
		<link rel="stylesheet" href="css/common.css" type="text/css" />
		<link rel="stylesheet" href="css/wode.css" type="text/css" />
		<script src="js/vue.js"></script>
	</head>
	<body>
		<header>
			<div id="title">我的</div>
		</header>
		<section>
			<div id="header">
				<button id="headpic">
					<img src="img/head1.png"/>
					<p id="name">昵称</p>
				</button>
			</div>
			<div id="vue-app">
				<button type="button" id="inf">个人信息<img src="img/more-2.png"</button>
				<button type="button" id="set">设置<img src="img/more-2.png"/></button>
			</div>
			
		</section>
		<footer>
			<ul id="ul">
				<li>
					<img src="img/xiaoxi.png" />
					<p>消息</p>
				</li>
				<li>
					<img src="img/zixun.png"/>
					<p>咨询</p>
				</li>
				<li id="qiandao">
					<img src="img/qiandao1.png" id="pic"/>
				</li>
				<li id="link">
					<img src="img/link1.png" />
					<p>通讯录</p>
				</li>
				<li>
					<img src="img/wode1.png" />
					<p id="center">我的</p>
				</li>
			</ul>
		</footer>
		<script src="js/jquery.min.js"></script>
		<script src="js/wode.js"></script>
	</body>
</html>
