<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <!-- 设置为IUserDao接口方法提供sql语句配置 -->
    <mapper namespace="com.signInSystem.xyz.dao.PasswordMapper">


    <insert id="insertPasswords" parameterType="com.signInSystem.xyz.model.UserPassword">
        insert into user_password values (#{pwd_id},#{user_pwd},#{user_id})
    </insert>
    <select id="selectTrueUserPassword" parameterType="int" resultType="String">
        select user_pwd from user_password where user_id=#{user_id}
    </select>
</mapper>